<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> TextUtils </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">TextUtils.in</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="blog">Blog</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="about">About</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Welcome to TextUtils !!</strong> You can do wonders here...
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="container">
      <form action="/analyze" method="post">{% csrf_token %}
        <div class="form-group">
          <br>
          <p class="text-danger h2">Write your text here and see the magic...</p>
          <textarea class="form-control" name = "text" rows="9" style="margin-top: 0px; margin-bottom: 0px; height: 244px;"></textarea>
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" name="caps" class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1"> <b>Upper Case</b></label>
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch2">
          <label class="custom-control-label" for="customSwitch2"> <b>Punctuations Remover</b></label>
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" name="spaceRemover" class="custom-control-input" id="customSwitch3">
          <label class="custom-control-label" for="customSwitch3"> <b>Extra space Remover</b></label>
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" name="counter" class="custom-control-input" id="customSwitch4">
          <label class="custom-control-label" for="customSwitch4"> <b>Character Counter</b></label>
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" name="newLine" class="custom-control-input" id="customSwitch5">
          <label class="custom-control-label" for="customSwitch5"> <b>New Line Remover</b></label>
        </div><br>

        <button type="submit" class="btn btn-primary">Analyze</button>
      </form>
    </div>

    <!-- optional js library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>